body	{
	display: inline;
	bacground-color: #CCCCCC;
}
.1	{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 13%;
	background-color: #305181;
}

.1-1	{
	height: 100%;
	float: left;
}

.1-2	{
	height: 100%;
	float: right;
}

.2	{
	background-color: #305181;
	box-shadow: 0px 10px 5px #888888;
}

.2-1	{
	 width: 100%;
}

.2-2	{
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
}

.3	{
	position: relative;
	top: -30px;
	background-color: white;
	padding-bottom: 0px;
}

.3-1	{
	color: #8ECEE5;
	font-size: 48px;
}

.3-2	{
	color: black;
	width: 75%;
}

.3-3	{
	color: #848484;
	font-size: 36px;
}

