$primaryColor: #305181; // dark blue
$secondaryColor: #F14D61; //red
$accentColor: #D7DADB; //light gray
$mainHeadingColor: #6DBCDB; //light blue
$textColor: #727272; //medium gray
$optionalColor: #4A90E2; //medium blue
$teamcolor: #FCE3E6; //off white
$teamcolorTrans: rgba(255, 255, 255, 0.9);

