
.mainHeader {
    background: url("../img/waterline.jpg") no-repeat center;
    background-size: 112%;
    height:197px;
    @include boxShadow(1);
    position: relative;
    top:  54px;
    margin-bottom: 53px;

    @media (max-width:320px ) {
      height: 180px;
    }
}

.titleBox {

  background:$primaryColor;
  @include boxShadow(3);
  height: 73px;
  padding-top:16px;

  h1 {
    font-size:2.2rem;
    margin:0;
    color: #fff;

    @media (max-width:320px ) {
      font-size: 1.8rem;
    }

  }





}
